.TaskManager {
    right: 385px;
    position: relative;
    font-size: 30px;
    color: aliceblue;
}


.ProfileItems {
    left: 350px;
    position: relative;
}

.container {
    background: white;
}
